<div class="vh-100 p-4 m-4">
  <div class="container-fluid h-custom">
    <h1 id="title" class="text-center p-4 m-4">Welcome to our website</h1>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="/login" method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="un">Username:</label>
            <input type="text" name="un" id="un" class="form-control form-control-lg" placeholder="Enter username" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="pw">Password</label>
            <input type="password" name="pw" id="pw" class="form-control form-control-lg"
              placeholder="Enter password" />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
                class="link-danger">Register</a></p>
          </div>
        </form>
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start my-2">
          <p class="lead fw-normal mb-0 me-3">Continue with </p>
          <a href="/auth/google">
            <i class="fab fa-google"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>