  /* body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Montserrat', sans-serif;
  } */
  
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;

    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* ---------- HEADER ---------- */
  .header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  
  .menu-icon {
    display: none;
  }
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #263043;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
  }
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #9e9ea4;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
  }
  
  .table-cards {
    margin: 20px 0;
    background-color: #263043;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .table{
    --bs-table-bg: none;
    --bs-table-color: white;
    --bs-table-border-color: rgb(255, 255, 255, 0.5);
  }
  
  .page-admin .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
    background-color: #263043;
    color: white;
  }
  
  .pagination{
    --bs-pagination-bg: #263043;
    --bs-pagination-border-color: none
  }
  
  .page-admin .card-body{
    padding: 25px;
  }
  
  .page-admin .card:first-child {
    background-color: #2962ff;
  }
  
  .page-admin .card:nth-child(2) {
    background-color: #ff6d00;
  }
  
  .page-admin .card:nth-child(3) {
    background-color: #2e7d32;
  }
  
  .page-admin .card:nth-child(4) {
    background-color: #d50000;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .material-icons-outlined {
    font-size: 45px;
  }
  
  .page-admin .cat-card.card{
    background-color: #263043;
    padding: 0;
    min-height: 80vh;
  }
  
  .page-admin .card-header{
    font-size: 20px;
    font-weight: bold;
    background-color: #3b4b68;
    padding: 14px 16px;
  }

  /* Fix Css */
  .page-admin .list-group-item.active {
    background-color: var(--bs-list-group-active-bg);
    border-color: var(--bs-list-group-active-border-color);
  }
  .page-admin .list-group-item {
    color: white;
    background-color: #263043;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  .page-admin .list-group-item-action {
    width: 100%;
    text-align: inherit;
  }

  .page-admin .form-control{
    border-radius: 6px;
  }

  .page-admin .btn-primary:hover {
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  } 

  .page-admin .btn-primary {
    color: white;
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
  } 

  .page-admin .btn{
    border-radius: var(--bs-btn-border-radius);
  }

  .page-admin .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }

  .page-admin .table th, .page-admin .table td {
    border-top: none;
    vertical-align: middle;
  }

  .page-admin .page-link:hover{
    color: var(--bs-pagination-hover-color);
  }

  .page-admin .page-link{
    color: var(--bs-pagination-color);
    background-color: var(--bs-pagination-bg);
    border: none;
  }

  .page-admin .page-item.active .page-link{
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
  }

  .page-admin a:hover {
    text-decoration: none;
  }

  .page-admin h2{
    color: white;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
  }
  
  .charts-card {
    background-color: #263043;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .list-group{
    --bs-list-group-color: none;
    --bs-list-group-bg: none;
    --bs-list-group-border-color: none;
  }
  
  .page-admin .dropdown-toggle {
    white-space: wrap;
  }
  
  .page-admin .btn-secondary{
    background-color: #263043;
    border-color: var(--bs-btn-border-color);
    color: white;
  }
  
  .file-caption-name:not(.file-caption-disabled) {
    background-color: white;
  }
  
  /* ---------- MEDIA QUERIES ---------- */
  
  /* Large <= 1480px */
  @media screen and (max-width : 1480px) {
    .main-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 20px 0;
    }
  }
  
  
  /* Medium <= 992px */
  
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  
  /* Small <= 768px */
  
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }
  