.cat-product-container > .prod-side {
    min-width: 620px;
}

.cat-product-container {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    grid-template-rows: 600px 600px;
    justify-items: stretch;
}