

.trans-body{
    max-height: 512px;
}

.trans-body > th, td{
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


.trans-search {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1rem
}
