

.trans-body{
    max-height: 512px;
}
.trans-row > td {
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trans-row > td:hover {
    overflow: visible;
}

.trans-search {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1rem
}

.trans-row {
    min-height: 73px;
}