<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand mx-4" href="/">Home</a>
        {{#if isAuth}}
        <form action="/logout" method="post">
            <button class="btn" type="submit">Log out</button>
        </form>
        {{/if}}
    </div>
</nav>